@import url("https://fonts.googleapis.com/css2?family=KoHo:wght@500&family=Montserrat:wght@300;400&family=Oxygen:wght@300;400;700&display=swap");
body {
  margin: 0;
  font-family: "Oxygen", "Montserrat", "Segoe UI", "Roboto", "Oxygen", "Ubuntu",
    "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif,
    -apple-system, BlinkMacSystemFont;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: "Koho", sans-serif;
}
p,
span {
  font-family: "Oxygen", sans-serif;
  font-weight: 700;
}
